@keyframes StartWavingHand{
    0%{
        opacity: 0;
        transform: rotate(0deg);
        right: 100px;
    }
    75%{
        transform: rotate(390deg);
        right: -10px;
    }
    100%{
        opacity: 1;
        transform: rotate(360deg);
        right: 0;
    }
}

@keyframes StopWavingHand{
    0%{
        opacity: 1;
        transform: rotate(360deg);
        right: 0;
    }
  
    100%{
        right: 100px;
        transform: rotate(0deg);

    }
}

.test{
    animation: StartWavingHand .5s ease-in-out forwards;
}

.stop{
    animation: StopWavingHand .5s ease-in-out forwards;
    
}